$base-dark: #0f0f0f;
$base-light: #f3f3f3;
$base-gray: #393939;
$base-light-gray: #898989;

$accent-green: #96a064;
$accent-blue: #77a6b6;
$accent-yellow: #d1b15f;

// $accent-one: #e2e8ce;
// $accent-two: #a3b18a;
// $accent-three: #96a064;

$accent-one: #e0e1e3;
$accent-two: #aeb7b3;
$accent-three: #c2b299;

$border: 2px solid $base-light;

.arrow {
	cursor: pointer;
	width: 35px;
	height: 35px;
    border-radius: 50%;
	background-color: $base-light;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: background-color 0.4s ease, fill 0.4s ease-in-out;
    margin-right: 1;

    &.angle {
        transform: rotate(-45deg);
    }

    &.color {
        background-color: $accent-one;
    }

    &.color-2 {
        background-color: $accent-two;
    }

    &.color-3 {
        background-color: $accent-three;
    }

    // &.right {
    //     margin-right: 3.5px;
    // }

	i {
		font-size: 26px;
		width: 1em;
		height: 1em;
		color: $base-dark;
	}
}



@keyframes moveRight{
	50%{
		transform: translateX(100px);
	}
	51%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

.nav-hover {
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: $base-light !important;
        color: $base-dark;
        .arrow {
                background-color: $base-dark;
            i {
                animation-duration: .4s;
                animation-timing-function: ease-in;
                color: $base-light;
                animation-name: moveRight;
            }
        }
    }
}

.block-hover {
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;

    .arrow {
        background-color: rgba(250,250,250,0.40);
        backdrop-filter: blur(5px);
    }
    &:hover {
        .block-bubble {
            background-color: $base-dark;
            .color-1 { color: $accent-one !important; }
            .color-2 { color: $accent-two !important; }
            .color-3 { color: $accent-three !important; }
        }
        .arrow {
                background-color: $base-dark;
            i {
                animation-duration: 0.4s;
                animation-timing-function: ease-in;
                color: $base-light;
                animation-name: moveRight;
            }
        }

        img {
            transform: scale(1.05);
        }
    }
}
