@import url(/styles/arrow.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$base-dark: #0f0f0f;
$base-light: #f3f3f3;
$base-gray: #393939;
$base-light-gray: #898989;

$accent-green: #96a064;
$accent-blue: #77a6b6;
$accent-yellow: #d1b15f;

$accent-one: #e0e1e3;
$accent-two: #aeb7b3;
$accent-three: #c2b299;

$font-size-xl: 64px;
$font-size-l: 32px;
$font-size-m: 24px;
$font-size-s: 16px;

$border: 2.2px solid $base-light;

$gap-l: 18px;
$gap-s: 4px;

$padding-l: 18px;
$padding-s: 4px;
$padding-spacer: 0 18px 18px 20px;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $base-dark;
    color: $base-light;
}

#Navigation {
    position: relative;
    height: auto;
    width: 100%;
    padding: $padding-l;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    font-size: $font-size-s;
    max-width: 1920px;
    margin: auto;

    .nav-wrapper {

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            width: 100%;
            gap: $gap-l;
            
            .bubble-wrapper {
                border: $border;
                border-radius: 110px;
                padding: $padding-s;
            }

            .nav-left {
                width: calc(100% / 3);
            }

            .nav-bubble {
                border-radius: 110px;
                border: $border;
                padding: $padding-s;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .nav-title {
                    font-size: $font-size-s;
                    padding: $padding-s;
                }
            }

            .nav-middle {
                width: calc(100% / 3);
                display: flex;
                align-items: center;
                gap: $gap-s;
                .nav-banner, .nav-about, .nav-contact {
                    width: 100%;
                    background-color: $base-gray;
                }
            }
            
            .nav-right {
                width: calc(100% / 3);
                display: flex;
                justify-content: flex-end;
                ul {
                    display: flex;
                    list-style: none;
                    gap: $gap-s;
                    li {
                       
                        .lab {
                            font-size: 28px;
                            padding: 13px;
                            border-radius: 50%;
                            border: $border;
                            background-color: $base-dark;
                            transition: all 0.25s ease-in-out;
                            &:hover {
                                color: $base-dark;
                                background-color: $base-light;
                            }
                        }
                    }
                } 
            }
        }
    }
}

#Home {
    margin-top: 80px;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    
    #home-top {
        padding: $padding-spacer;
        position: relative;
        width: inherit;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        .home-top-wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: $gap-l;
            
            .top-block {
                padding: $padding-l;
                .block-header {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .block-bubble {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: backdrop-filter 0.4s ease, fill 0.4s linear;
                        .block-title {
                            font-size: $font-size-s;
                            padding: $padding-s;
                            text-transform: uppercase;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            transition: color 0.4s ease-in-out;
                            &.color-1 { color: $base-dark; }
                            &.color-2 { color: $base-dark; }
                            &.color-3 { color: $base-dark; }
                        }
                    }
                }
            }
            .top-blockOne {
                width: 60%;
                background-color: $accent-one;
                border-radius: 0 24px 24px 24px; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .block-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    .overflow {
                        overflow: hidden;
                        width: 100%;
                        img {
                            max-width: 100%;
                            min-width: 200px;
                            height: auto;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .blockOne-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-size: $font-size-m;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        padding: 0.5rem 0;
                        color: $base-dark;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockOne-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                    }
                   
                }
            }
            .top-blockTwo {
                width: 40%;
                background-color: $accent-two;
                border-radius: 24px 24px 24px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                .block-body {
                    width: 100%;
                    font-size: $font-size-m;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    color: $base-dark;
                    .blockTwo-title {
                        padding: 0.5rem 0;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockTwo-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                        font-weight: normal;
                    }
                }
            }
            // .top-blockThree {
                
            //     background-color: $accent-three;
            //     border-radius: 24px 24px 0 24px;
            // }
        }
    }

    #home-middle {
        padding: $padding-spacer;
        position: relative;
        width: inherit;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        .home-middle-wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: $gap-l;
            .middle-block {
                padding: $padding-l;
                .block-header {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .block-bubble {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: backdrop-filter 0.4s ease, fill 0.4s linear;
                        .block-title {
                            font-size: $font-size-s;
                            padding: $padding-s;
                            text-transform: uppercase;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            transition: color 0.4s ease-in-out;
                            &.color-1 { color: $base-dark; }
                            &.color-2 { color: $base-dark; }
                            &.color-3 { color: $base-dark; }
                        }
                    }
                }
            }
            .middle-blockOne {
                background-color: $accent-two;
                border-radius: 24px 24px 24px 0;
                width: 30%; 
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                .block-body {
                    width: 100%;
                    font-size: $font-size-m;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    color: $base-dark;
                    .blockOne-title {
                        padding: 0.5rem 0;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockOne-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                        font-weight: normal;
                        .las {
                            font-size: 14px;
                            
                        }
                    }
                }
            }
            .middle-blockTwo {
                width: 30%;
                background-color: $accent-three;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                border-radius: 24px 24px 0 24px;
                .block-body {
                    width: 100%;
                    font-size: $font-size-m;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    color: $base-dark;
                    .blockTwo-title {
                        padding: 0.5rem 0;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockTwo-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                        font-weight: normal;
                    }
                }
                
            }
            .middle-blockThree {
                width: 60%;
                background-color: $accent-one;
                border-radius: 0 24px 24px 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .block-body {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: $gap-s;
                    .blockThree-text {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 6px;
                        line-height: 24px;
                        width: fit-content;
                        font-size: 18px;
                        font-weight: 600 !important;
                        text-transform: uppercase;
                        color: $base-dark;
                        font-weight: normal;
                        letter-spacing: -0.5px;
                    }
                }
            }
        }
    }
 
    #home-lower {
        padding: $padding-spacer;
        position: relative;
        width: inherit;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        .home-lower-wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: $gap-l;

            .lower-block {
                width: 100%;
                padding: $padding-l;
                .block-header {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .block-bubble {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: backdrop-filter 0.4s ease, fill 0.4s linear;
                        .block-title {
                            font-size: $font-size-s;
                            padding: $padding-s;
                            text-transform: uppercase;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            transition: color 0.4s ease-in-out;
                            &.color-1 { color: $base-dark; }
                            &.color-2 { color: $base-dark; }
                            &.color-3 { color: $base-dark; }
                        }
                    }
                }
            }
            .lower-blockOne {
                background-color: $accent-one;
                border-radius: 0 24px 24px 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start; 
                .block-body {
                    width: 100%;
                    font-size: $font-size-m;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    color: $base-dark;
                    .overflow {
                        overflow: hidden;
                        width: 100%;
                        img {
                            max-width: 100%;
                            min-width: 200px;
                            height: auto;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .blockOne-title {
                        padding: 0.5rem 0;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockOne-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                        font-weight: normal;
                    }
                }
            }
            .lower-blockTwo {
                background-color: $accent-two;
                border-radius: 24px 24px 24px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .block-body {
                    width: 100%;
                    font-size: $font-size-m;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    color: $base-dark;
                    .blockTwo-title {
                        padding: 0.5rem 0;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockTwo-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                        font-weight: normal;
                    }
                }
            }
            .lower-blockThree {
                background-color: $accent-three;
                border-radius: 24px 24px 0 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .block-body {
                    width: 100%;
                    font-size: $font-size-m;
                    font-weight: 600;
                    letter-spacing: -0.5px;
                    color: $base-dark;
                    .blockThree-title {
                        padding: 0.5rem 0;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockThree-text {
                        padding-top: 0.5rem;
                        line-height: 24px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: $font-size-s;
                        color: $base-dark;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

#Footer {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    padding: 0 20px;
    .footer-wrapper {
        height: 100%;
        width: 100%;
        hr {
            height: 3px;
            background-color: $base-light;
            border: none;
        }
        .footer-span-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: -0.5px;
            .las {
                font-size: 14px;
            }
        }
    }
}