@import url(/styles/arrow.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$base-dark: #0f0f0f;
$base-light: #f3f3f3;
$base-gray: #393939;
$base-light-gray: #898989;

$accent-green: #96a064;
$accent-blue: #77a6b6;
$accent-yellow: #d1b15f;

$accent-one: #e2e8ce;
$accent-two: #a3b18a;
$accent-three: #96a064;

$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px;

$border: 2.2px solid $base-light;

$gap-l: 18px;
$gap-s: 4px;

$padding-l: 18px;
$padding-s: 4px;
$padding-spacer: 0 18px 18px 20px;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $base-dark;
    color: $base-light;
}

#Navigation {
    position: relative;
    height: auto;
    width: 100%;
    padding: $padding-l;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    font-size: $font-size-s;
    max-width: 1920px;
    margin: auto;

    .nav-wrapper {
    
        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            width: 100%;
            gap: $gap-l;
            
            .bubble-wrapper {
                border: $border;
                border-radius: 110px;
                padding: $padding-s;
            }

            .nav-left {
                width: calc(100% / 3);
            }

            .nav-bubble {
                border-radius: 110px;
                border: $border;
                padding: $padding-s;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .nav-title {
                    font-size: $font-size-s;
                    padding: $padding-s;
                }
            }

            .nav-middle {
                width: calc(100% / 3);
                display: flex;
                align-items: center;
                gap: $gap-s;
                .nav-banner, .nav-about, .nav-contact {
                    width: 100%;
                    background-color: $base-gray;
                }
            }
            
            .nav-right {
                width: calc(100% / 3);
                display: flex;
                justify-content: flex-end;
                ul {
                    display: flex;
                    list-style: none;
                    gap: $gap-s;
                    li {
                       
                        .lni {
                            font-size: 25px;
                            padding: 13px;
                            border-radius: 50%;
                            border: $border;
                            background-color: $base-dark;
                            transition: all 0.25s ease-in-out;
                            &:hover {
                                color: $base-dark;
                                background-color: $base-light;
                            }
                        }
                    }
                } 
            }
        }
    }
}

#Home {
    margin-top: 80px;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    
    #home-top {
        padding: $padding-spacer;
        position: relative;
        width: inherit;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        .home-top-wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: $gap-l;

            .top-block {
                width: 100%;
                padding: $padding-l;
                .block-header {
                    width: 100%;
                    margin: auto;
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    .block-bubble {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: backdrop-filter 0.4s ease, fill 0.4s linear;
                        .block-title {
                            font-size: $font-size-s;
                            padding: 0.5rem;
                            text-transform: uppercase;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            transition: color 0.4s ease-in-out;
                            &.color-1 { color: $base-dark; }
                            &.color-2 { color: $base-dark; }
                            &.color-3 { color: $base-dark; }
                        }
                    }
                }
            }
            .top-blockOne {
                background-color: $accent-one;
                border-radius: 0 24px 24px 24px; 
                .block-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .overflow {
                        overflow: hidden;
                        width: 100%;
                        img {
                            max-width: 100%;
                            min-width: 200px;
                            height: auto;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .blockOne-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-size: $font-size-s;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        padding: 0.5rem 0;
                        color: $base-dark;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockOne-text {
                        padding-top: 0.5rem;
                        font-size: $font-size-s;
                        color: $base-dark;
                    }
                   
                }
            }
            .top-blockTwo {
                
                background-color: $accent-two;
                border-radius: 24px;
                
            }
            .top-blockThree {
                
                background-color: $accent-three;
                border-radius: 24px 24px 0 24px;
            }
        }
    }

    #home-middle {
        padding: $padding-spacer;
        position: relative;
        width: inherit;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        .home-middle-wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: $gap-l;

            .middle-block {
                width: 100%;
                padding: 20px;
                .block-header {
                    width: 100%;
                    margin: auto;
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    .block-bubble {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: backdrop-filter 0.4s ease, fill 0.4s linear;
                        .block-title {
                            font-size: $font-size-s;
                            padding: 0.5rem;
                            text-transform: uppercase;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            transition: color 0.4s ease-in-out;
                            &.color-1 { color: $base-dark; }
                            &.color-2 { color: $base-dark; }
                            &.color-3 { color: $base-dark; }
                        }
                    }
                }
            }
            .middle-blockOne {
                background-color: $accent-green;
                border-radius: 0 24px 24px 24px; 
                .block-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .overflow {
                        overflow: hidden;
                        width: 100%;
                        img {
                            max-width: 100%;
                            min-width: 450px;
                            height: auto;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .blockOne-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-size: $font-size-s;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        padding: 0.5rem 0;
                        color: $base-dark;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockOne-text {
                        padding-top: 0.5rem;
                        font-size: $font-size-s;
                        color: $base-dark;
                    }
                   
                }
            }
            .middle-blockTwo {
                background-color: $accent-blue;
                border-radius: 24px;
                
            }
            .middle-blockThree {
                background-color: $accent-yellow;
                border-radius: 24px 24px 0 24px;
            }
        }
    }
 
    #home-lower {
        padding: $padding-spacer;
        position: relative;
        width: inherit;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        .home-lower-wrapper {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            gap: $gap-l;

            .lower-block {
                width: 100%;
                padding: $padding-l;
                .block-header {
                    width: 100%;
                    margin: auto;
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    .block-bubble {
                        border-radius: 110px;
                        border: 2.4px solid $base-dark;
                        padding: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: backdrop-filter 0.4s ease, fill 0.4s linear;
                        .block-title {
                            font-size: $font-size-s;
                            padding: 0.5rem;
                            text-transform: uppercase;
                            letter-spacing: -0.5px;
                            font-weight: 600;
                            transition: color 0.4s ease-in-out;
                            &.color-1 { color: $base-dark; }
                            &.color-2 { color: $base-dark; }
                            &.color-3 { color: $base-dark; }
                        }
                    }
                }
            }
            .lower-blockOne {
                background-color: $accent-green;
                border-radius: 0 24px 24px 24px; 
                .block-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .overflow {
                        overflow: hidden;
                        width: 100%;
                        img {
                            max-width: 100%;
                            min-width: 200px;
                            height: auto;
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .blockOne-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        font-size: $font-size-s;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        padding: 0.5rem 0;
                        color: $base-dark;
                    }
                    hr {
                        height: 3px;
                        width: 100%;
                        background-color: $base-dark;
                        border: none;
                    }
                    .blockOne-text {
                        padding-top: 0.5rem;
                        font-size: $font-size-s;
                        color: $base-dark;
                    }
                   
                }
            }
            .lower-blockTwo {
                background-color: $accent-blue;
                border-radius: 24px;
                
            }
            .lower-blockThree {
                background-color: $accent-yellow;
                border-radius: 24px 24px 0 24px;
            }
        }
    }
}
