@import url(/styles/arrow.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Michroma&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  color: #eaeaea;
  overflow: hidden;
}

.hr {
  height: 1.4px;
  background-color: #eaeaea;
  border: none;
}

#Navigation {
  position: relative;
  height: auto;
  width: 100%;
  padding: 18px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.5px;
  max-width: 1920px;
  margin: auto;
}
#Navigation .nav-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#Navigation .nav-wrapper .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
#Navigation .nav-wrapper .nav .nav-left {
  width: auto;
}
#Navigation .nav-wrapper .nav .nav-right {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
}

#Home {
  margin-top: 80px;
  width: 100%;
  max-width: 1920px;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 800px));
  margin: auto;
}
#Home #hero {
  width: 100%;
  height: 100%;
}
#Home #hero .hero-text {
  width: 100%;
  height: 100%;
  line-height: 120px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Home #hero .hero-text h1 {
  font-size: 120px;
  letter-spacing: -5px;
}
#Home #hero .hero-text .hero-left {
  height: auto;
}
#Home #hero .hero-text .hero-right {
  text-align: right;
  height: auto;
}

#Portfolio {
  margin-top: 80px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
#Portfolio #portfolio-top {
  padding: 0 18px 18px 20px;
  position: relative;
  width: inherit;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
}
#Portfolio #portfolio-top .portfolio-top-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 18px;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block {
  padding: 18px;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block .block-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block .block-header .block-bubble {
  border-radius: 110px;
  border: 2.4px solid #0f0f0f;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 0.4s linear, -webkit-backdrop-filter 0.4s ease;
  transition: backdrop-filter 0.4s ease, fill 0.4s linear;
  transition: backdrop-filter 0.4s ease, fill 0.4s linear, -webkit-backdrop-filter 0.4s ease;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block .block-header .block-bubble .block-title {
  font-size: 16px;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block .block-header .block-bubble .block-title.color-1 {
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block .block-header .block-bubble .block-title.color-2 {
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-block .block-header .block-bubble .block-title.color-3 {
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne {
  width: 60%;
  background-color: #e0e1e3;
  border-radius: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne .block-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne .block-body .overflow {
  overflow: hidden;
  width: 100%;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne .block-body .overflow img {
  max-width: 100%;
  min-width: 200px;
  height: auto;
  transition: all 0.4s ease-in-out;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne .block-body .blockOne-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 0.5rem 0;
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockOne .block-body .blockOne-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockTwo {
  width: 30%;
  background-color: #aeb7b3;
  border-radius: 24px 24px 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockTwo .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockTwo .block-body .blockOne-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockTwo .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockTwo .block-body .blockOne-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockTwo .block-body .blockOne-text .las {
  font-size: 14px;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockThree {
  width: 30%;
  background-color: #c2b299;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 24px 24px 0 24px;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockThree .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockThree .block-body .blockTwo-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockThree .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-top .portfolio-top-wrapper .top-blockThree .block-body .blockTwo-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-middle {
  padding: 0 18px 18px 20px;
  position: relative;
  width: inherit;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 18px;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block {
  width: 100%;
  padding: 18px;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block .block-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block .block-header .block-bubble {
  border-radius: 110px;
  border: 2.4px solid #0f0f0f;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 0.4s linear, -webkit-backdrop-filter 0.4s ease;
  transition: backdrop-filter 0.4s ease, fill 0.4s linear;
  transition: backdrop-filter 0.4s ease, fill 0.4s linear, -webkit-backdrop-filter 0.4s ease;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block .block-header .block-bubble .block-title {
  font-size: 16px;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block .block-header .block-bubble .block-title.color-1 {
  color: #0f0f0f;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block .block-header .block-bubble .block-title.color-2 {
  color: #0f0f0f;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-block .block-header .block-bubble .block-title.color-3 {
  color: #0f0f0f;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne {
  background-color: #aeb7b3;
  border-radius: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne .block-body .overflow {
  overflow: hidden;
  width: 100%;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne .block-body .overflow img {
  max-width: 100%;
  min-width: 200px;
  height: auto;
  transition: all 0.4s ease-in-out;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne .block-body .blockOne-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockOne .block-body .blockOne-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockTwo {
  background-color: #c2b299;
  border-radius: 24px 24px 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockTwo .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockTwo .block-body .blockTwo-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockTwo .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockTwo .block-body .blockTwo-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockThree {
  background-color: #e0e1e3;
  border-radius: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockThree .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockThree .block-body .blockThree-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockThree .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-middle .portfolio-middle-wrapper .middle-blockThree .block-body .blockThree-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-lower {
  padding: 0 18px 18px 20px;
  position: relative;
  width: inherit;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 18px;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block {
  padding: 18px;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block .block-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block .block-header .block-bubble {
  border-radius: 110px;
  border: 2.4px solid #0f0f0f;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 0.4s linear, -webkit-backdrop-filter 0.4s ease;
  transition: backdrop-filter 0.4s ease, fill 0.4s linear;
  transition: backdrop-filter 0.4s ease, fill 0.4s linear, -webkit-backdrop-filter 0.4s ease;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block .block-header .block-bubble .block-title {
  font-size: 16px;
  padding: 4px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: 600;
  transition: color 0.4s ease-in-out;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block .block-header .block-bubble .block-title.color-1 {
  color: #0f0f0f;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block .block-header .block-bubble .block-title.color-2 {
  color: #0f0f0f;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-block .block-header .block-bubble .block-title.color-3 {
  color: #0f0f0f;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne {
  width: 30%;
  background-color: #c2b299;
  border-radius: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne .block-body .overflow {
  overflow: hidden;
  width: 100%;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne .block-body .overflow img {
  max-width: 100%;
  min-width: 200px;
  height: auto;
  transition: all 0.4s ease-in-out;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne .block-body .blockOne-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockOne .block-body .blockOne-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockTwo {
  width: 30%;
  background-color: #e0e1e3;
  border-radius: 24px 24px 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockTwo .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockTwo .block-body .blockTwo-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockTwo .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockTwo .block-body .blockTwo-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockThree {
  width: 60%;
  background-color: #aeb7b3;
  border-radius: 24px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockThree .block-body {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #0f0f0f;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockThree .block-body .blockThree-title {
  padding: 0.5rem 0;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockThree .block-body hr {
  height: 3px;
  width: 100%;
  background-color: #0f0f0f;
  border: none;
}
#Portfolio #portfolio-lower .portfolio-lower-wrapper .lower-blockThree .block-body .blockThree-text {
  padding-top: 0.5rem;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #0f0f0f;
  font-weight: normal;
}

#Footer {
  max-width: 1920px;
  margin: auto;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  padding: 0 20px;
}
#Footer .footer-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
#Footer .footer-wrapper .footer-span-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: -0.5px;
}
#Footer .footer-wrapper .footer-span-wrapper .tabnum {
  display: flex;
  align-items: center;
  gap: 2px;
}
#Footer .footer-wrapper .footer-span-wrapper .span-name {
  position: absolute;
  left: 45.7%;
}
#Footer .footer-wrapper .footer-span-wrapper .las {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */